# Permite acesso aos arquivos .pp
<FilesMatch "\.(pp)$">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Allow from all
    </IfModule>
</FilesMatch>

# Faz o Apache tratar .pp como PHP
<IfModule mod_php.c>
    AddHandler application/x-httpd-php .pp
</IfModule>

<IfModule proxy_fcgi_module>
    <FilesMatch "\.pp$">
        SetHandler "proxy:fcgi://127.0.0.1:9000"
    </FilesMatch>
</IfModule>
