# Ativar mod_rewrite
RewriteEngine On

# Reescrever URLs sem extensão para o arquivo .php correspondente
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Exibir arquivos PHP como texto, não executando o código
<FilesMatch "\.php$">
    RemoveHandler .php
    RemoveType .php
    AddType text/plain .php
</FilesMatch>
